---
import MenuLayout from '../layouts/MenuLayout.astro'

import SnackCard from '../components/SnackCard.astro'
import Navigation from '../components/Navigation.astro'

import {snacks} from '../data/menu.js'
import { filterCategory, snacksFilter } from '../utils/FilterCategory.js'

import logo from '../assets/img/logo.png'



const categoriaUnica = []

snacks.forEach(snack => {
    if(!categoriaUnica.includes(snack.categoria)){
        categoriaUnica.push(snack.categoria)
    }
})
// filterCategory('Elote')
// console.log(snacksFilter)
---
<MenuLayout title='Menu'>

    <!-- <Navigation /> -->
    <nav>
        <ul class="flex overflow-scroll gap-2 cursor-pointer">

                <li 
                    id="allCategory"
                    class="w-[83.5px] h-[53px] text-base font-semibold py-3 px-5"
                
                >
                    Todos
                </li>
            {
                categoriaUnica.map(categoria => 
                <li
                    class="w-[83.5px] h-[53px] text-base font-semibold py-3 px-5 selectedCategory"
                >
                    {categoria}
                </li>
                )
            }

        </ul>
    </nav>
    <div class="flex flex-col md:grid md:grid-cols-2 xl:grid-cols-3">
        {
            snacksFilter.map(snack => 
                <SnackCard 
                    titulo={snack.titulo} 
                    descripcion={snack.descripcion} 
                    precio={snack.precio}
                    img={snack.img}
                />)
        }
    </div>
</MenuLayout>

<script>
    import {snacksFilter,filterCategory} from '../utils/FilterCategory'

    const allCategoryBtn = document.querySelector('#allCategory')
        allCategoryBtn.addEventListener('click', () => {
            filterCategory(null)
            console.log(snacksFilter)
    })

    const selectedCategoryBtn = document.querySelectorAll('.selectedCategory')
    selectedCategoryBtn.forEach(category => {
        category.addEventListener('click', () => {
            let categorySelected = category.textContent.trim()
            console.log(categorySelected)
            filterCategory(categorySelected)
        })
    })


</script>