---
import SnackCard from '../components/SnackCard.astro'

import {snacks} from '../data/menu.js'

---
<div>
    {
        snacks.map(snack => 
            <SnackCard 
                titulo={snack.titulo} 
                descripcion={snack.descripcion} 
                precio={snack.precio}
                img={snack.img}
            />)
    }
</div>
